$product-navbar-width: 180px;

.viewFramework-product{
  //product-navbar
  &-navbar{
    width: 0px;
    float: left;
    background-color: #EAEDF1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: hidden;
    @include transition(all 0.2s ease);

    &-collapse{
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 50px;
      z-index: 3;
      @include transition(all 0.2s ease);
    }
  }

  //product-body
  &-body{
    position: absolute;
    width: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    @include transition(all 0.2s ease);
  }
}

.viewFramework-product-col-1 {
  .viewFramework-product-navbar-bg,
  .viewFramework-product-navbar {
    width: 180px;
  }

  .viewFramework-product-navbar-collapse {
    left: 160px;
  }

  .viewFramework-product-body {
    left: 180px;
  }
}

