<div class="sidebar-content">
  <div class="sidebar-inner">
    <div class="sidebar-fold icon-fold glyphicon glyphicon-menu-hamburger"><!--Fold/Unfold--></div>
    <div class="sidebar-nav sidebar-nav-1 main-nav">
      <div class="sidebar-title">
        <div class="sidebar-title-inner">
          <span class="sidebar-title-icon icon-arrow-down caret"></span> <!-- glyphicon glyphicon-triangle-bottom -->
          <span class="sidebar-title-text">BaseUI</span>
          <span class="sidebar-manage"><a class="icon-setup glyphicon glyphicon-cog"></a></span>
        </div>
      </div>
      <ul class="sidebar-trans">
        <li class="nav-item"><a href="#" class="sidebar-trans"><div class="nav-icon"><span class="glyphicon glyphicon-home "></span></div><span class="nav-title">Index</span></a></li>
        <li class="nav-item"><a href="/example/general/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-tv"></span></div><span class="nav-title">General</span></a></li>
        <li class="nav-item"><a href="/example/buttons/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-hand-pointer-o"></span></div><span class="nav-title">Buttons</span></a></li>
        <li class="nav-item"><a href="/example/icons/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-flag"></span></div><span class="nav-title">Icons</span></a></li>
        <li class="nav-item"><a href="/example/modals/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-credit-card"></span></div><span class="nav-title">Modals</span></a></li>
        <li class="nav-item"><a href="/example/notification/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-commenting-o"></span></div><span class="nav-title">Notification</span></a></li>
        <li class="nav-item"><a href="/example/grid/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-table"></span></div><span class="nav-title">Grid</span></a></li>
        <li class="nav-item"><a href="/example/tabsAndAccordions/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-file-text-o"></span></div><span class="nav-title">Tabs & Accordions</span></a></li>
        <li class="nav-item"><a href="/example/nestableLists/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-tablet"></span></div><span class="nav-title">Nestable Lists</span></a></li>
        <li class="nav-item"><a href="/example/treeView/index.html" class="sidebar-trans"><div class="nav-icon"><span class="fa fa-tree"></span></div><span class="nav-title">Tree View</span></a></li>
      </ul>
    </div>
    <div class="sidebar-nav sidebar-nav-1 main-nav">
      <div class="sidebar-title">
        <div class="sidebar-title-inner">
          <span class="sidebar-title-icon icon-arrow-down caret"></span>
          <span class="sidebar-title-text">Forms</span>
          <span class="sidebar-manage"><a class="icon-setup glyphicon glyphicon-cog"></a></span>
        </div>
      </div>
      <ul class="sidebar-trans">
        <li class="nav-item"><a href="/example/forms/elements.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">Elements</span></a></li>
        <li class="nav-item"><a href="/example/forms/validation.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">Validation</span></a></li>
        <li class="nav-item"><a href="/example//index.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">Wizard</span></a></li>
        <li class="nav-item"><a href="/example//index.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">Input Mask</span></a></li>
        <li class="nav-item"><a href="/example//index.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">Multi Select</span></a></li>
        <li class="nav-item"><a href="/example//index.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">WYSIWYG Editor</span></a></li>
        <li class="nav-item"><a href="/example//index.html" class="sidebar-trans"><div class="nav-icon"><span class="icon-xxx"></span></div><span class="nav-title">Multi Upload</span></a></li>
      </ul>
    </div>
  </div>
</div>
